fastapi
uvicorn
python-dotenv
nest_asyncio
prometheus_client
langdetect
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
dateparser
pydantic
transformers
langchain
langchain-google-genai
faiss-cpu  
boto3 
langchain-community 
bs4
